.table td {
    border: 2px solid black;
}

.table {
    border-collapse: collapse;
}

.form textarea {
    width: 400px;
    height: 400px;
    border: 2px solid #000000;
    display: block;
    margin: 20px;
}

.form input[type='text'] {
    background-color: lightgray;
    display: block;
    margin: 20px;
}

.form input[type='submit'] {
    width: 100px;
    background-color: rgb(129, 51, 148);
    margin: 20px;
}

.form {
    margin: 20px;
    padding: 25px;
}

.guestbookform label {
    display: block;
    margin: 20px;
}

.hidden {
    display: none;
}

#addForm label {
    display: block;
}

#addForm {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(52, 97, 246);
    background-color: rgb(199, 107, 145);
    z-index: 2;
}

#shadow {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.logAlert {
    /* border: 1px solid red !important; */
    background-color: rgb(96, 61, 211);

}

#loginform input {
    display: block;
}

.default_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 120vh;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 30px;

}

.header {
    font-size: 65px;
    font-weight: 700;
    font-family: Grandstander;

}

.htwo {
    font-size: 65px;
    font-weight: 700;
    font-family: Grandstander;

}

.into_img {
    /*margin-top: 20px;*/
    width: 1200px;
    height: 800px;
    background-image: url("../img/1_JiVQchrgFBf7zVDm8xVtuA.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login {
    width: 150px;
    height: 45px;
    /*background-color: #b9b6ee;*/
    background: linear-gradient(to right, #6e6ab0, #3c3966);
    text-align: center;
    border-radius: 15px;
    color: aliceblue;
    font-size: 23px;
    padding-top: 6px;
    margin-top: 5px;
    font-family: 'Grandstander', cursive;
    font-family: 'Indie Flower', cursive;
    font-weight: 500;
    font-stretch: ultra-condensed;
}

#sign {
    display: flex !important;
    align-items: flex-end;
}


/* Кнопка signUp */


.okbuttom {
    background-color: #3c3966;
    border: none;
    color: aliceblue;
    border-radius: 15px;
    width: 100px;
    height: 36px;
    margin-top: 10px;

}

.input_signup {

    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.label_signup {
    display: flex;
    flex-direction: column;
}

.margin_input_signup {
    margin-top: 5px;
}

.form_signUp {
    font-family: 'Grandstander', cursive;
    font-size: 25px;
    border: 1px solid #1c093e;
    /*background: linear-gradient(to top, #6e6ab0, #3c3966);*/
    padding: 3%;
    color: #1c093e;
    display: flex;
    width: 30%;
    height: 37%;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);


}

.form_signUp_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/minimalizm-gradient-fon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.ok {
    display: flex;
    justify-content: center;
}

.text_signUp {
    font-size: 14px;
    padding-top: 16px;
    justify-content: center;
    display: flex;

}

.text_color {
    color: #000000;
    font-weight: bold;
}

.signUp {
    display: flex;
}

/* Кнопка signIn */


.form_signIn_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.picture_signIn {
    background-image: url("../img/gradient.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

/*.button_signIn {*/
/*    background-color: #3c3966;*/
/*    border: none;*/
/*    color: aliceblue;*/
/*    border-radius: 15px;*/
/*    width: 200px;*/
/*    height: 36px;*/
/*    margin-top: 10px;*/
/*    justify-content: center;*/
/*}*/

.form_signIn {
    font-family: 'Grandstander', cursive;
    font-size: 25px;
    border: 1px solid #1c093e;
    padding: 3%;
    color: #1c093e;
    width: 30%;
    height: 29%;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    display: flex;

}


.label_signin {
    display: flex;
    flex-direction: column;
}

.margin_input_signin {
    margin-top: 5px;
}

.input_signin {

    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.ok_In {
    display: flex;
    justify-content: center;
}


.okbuttomIn {
    font-size: 20px;
    background-color: #3c3966;
    border: none;
    color: aliceblue;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    margin-top: 10px;

}

.signIn {
    display: flex;
}

.audio {}

.back a {

    color: #1c093e;
}

#editForm select {
    display: block;
}

.main_form {

    /*background-image: url("../img/minimalizm-gradient-fon.svg");*/
}

.startPage {
    font-family: 'Grandstander', cursive;
    font-size: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

.startText { 
    font-size: 40px;
}

.startText_todo{
    font-size: 30px;
    font-family: 'Grandstander', cursive;
}
.startText_dop {
    font-size: 25px;
    font-family:'Roboto', sans-serif; 
    justify-content: left;
}
.gif{
    display: flex;
    justify-content: center;
    /*width: 70px;*/
    /*right: 50px;*/
}

.reg_error {
    color: #e53030;
    font-size: 15px;
    font-family: "Tahoma";
}